<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-title>host</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">host</ion-title>
    </ion-toolbar>
  </ion-header>
  <button [routerLink]="['/config']"> Configuracion</button>
</ion-content> -->

<ion-content padding>
  <ion-card >
      <ion-card-content>
<label>CONECION CON SERVIDOR</label><br>
        <label>HOST - No cambiar si no lo solicita soporte</label>
        <ion-input type="text" [(ngModel)]="api" style="background-color: rgb(209, 209, 209);color: black" placeholder="..." ></ion-input>

        <button (click)="guardarcambio()">Configuracion</button>        
      </ion-card-content>
    </ion-card >

</ion-content>
