<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles de carga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><br>
   <span   class="titulos" style="font-weight: bold; padding-left: 10px !important; font-size: 20px;" *ngIf="this.RecuperaDespacho==false">Instrucciones de carga:</span>
  <swiper-container [slidesPerView]="1.07"  [pager]="true" *ngIf="this.RecuperaDespacho==false">
    <swiper-slide>
      <img src="../assets/imgs/Pistola_Mano.png"   />
      <h1 style="font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;color: #333333;" class="body2" *ngIf="this.Combustible=='0'" >Toma el dispensador (pistola) de color verde de la bomba, ten cuidado de no presionar el seguro (gatillo).
      </h1>
      <h1 style="font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;color: #333333;" class="body2" *ngIf="this.Combustible=='1'">Toma el dispensador (pistola) de color rojo de la bomba, ten cuidado de no presionar el seguro (gatillo).
      </h1>
      <h1 style="font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;color: #333333;" class="body2"  *ngIf="this.Combustible=='2'">Toma el dispensador (pistola) de color negro de la bomba, ten cuidado de no presionar el seguro (gatillo).
      </h1></swiper-slide>
    <swiper-slide>  <img src="../assets/imgs/CargaGasolina.png"   />
      <h1 style="font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;color: #333333;" class="body2">Inserta el tubo del dispensador (pistola) en la toma de gasolina de tu auto.
      </h1></swiper-slide>
    <swiper-slide><img src="../assets/imgs/Marcador_Cero.png"   />
      <h1 style="font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;color: #333333;" class="body2"> Una vez adentro, verifica que el marcador en la bomba marque ceros, y presiona el seguro (gatillo) para comenzar la carga.</h1>
</swiper-slide>
    <swiper-slide>   <img src="../assets/imgs/Indicador_Cantidad.png"   />
      <h1 style="font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;color: #333333;" class="body2"> Observa el indicador en la bomba para ver cuánta gasolina has surtido. Espera a que la bomba se detenga sola. No te preocupes si no se ha cargado todo el saldo, la diferencia se te reembolsará.
</h1></swiper-slide>
    <swiper-slide>
      <img src="../assets/imgs/Mangueras.png"   />
      <h1 style="font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;color: #333333;" class="body2"> Retira el dispensador (pistola) y colócalo en la bomba nuevamente. Da click en el boton abajo para continuar
</h1>
    </swiper-slide>   
     
  </swiper-container>
<ion-grid>
  <ion-row>     
    <ion-col *ngIf="this.cargando==true;"  size="12" style="text-align: center;">
      <ion-col size="12">
        <div
        style="
          border: 1px solid #e0e0e0;
          margin: auto;
          width: 100%;
          align-items: center;
        "
        ></div>
      </ion-col> 
      <h1>Recuperando despacho<br>
        <ion-spinner   name="dots" class="spinner"></ion-spinner>
        <br>  <br>
      <u>Manten esta ventana abierta hasta finalizar carga.</u></h1>     
    </ion-col>
    </ion-row>
    <ion-row *ngIf="this.RecuperaDespacho==true && this.detalle &&  this.cargando==false;">
    <ion-col size="12" style="text-align: center;font-weight: bold;"  >
      <h4 style="font-size: 20px;font-weight: bold">Transacción Recuperada</h4>
      </ion-col>
      <ion-col size="6"  >
      <label style="line-height: 5px;font-size: 15px;"><b>Posicion: </b>{{this.bomba}}</label>
      </ion-col>
      <ion-col size="6">
        <label style="line-height: 5px;font-size: 15px;" *ngIf="this.detalle['Id_Producto']=='444'"><b>Combustible: </b> <label style="color:Green">Regular</label></label>
        <label style="line-height: 5px;font-size: 15px;" *ngIf="this.detalle['Id_Producto']=='445'"><b>Combustible: </b> <label style="color:rgb(255, 3, 3)">Premier</label></label>
        <label style="line-height: 5px;font-size: 15px;" *ngIf="this.detalle['Id_Producto']=='32'"><b>Combustible: </b><label >Diesel</label> </label> 
        </ion-col>
      <ion-col size="12" *ngIf="this.TipoCAntidadVolumenVal=='P'"  >
      <label style="line-height: 5px;font-size: 15px;" ><b>Monto Solicitado: </b>${{this.monto}}<label *ngIf="this.TipoCAntidadVolumenVal=='P'" style="font-size: 15px;"> Pesos.</label></label><br>
      <label style="line-height: 5px;font-size: 15px;" *ngIf=" this.monto!=this.detalle['Monto']"><b >Monto Real Cargado: </b>${{this.detalle['Monto']}} <label *ngIf="this.monto!=this.detalle['Monto']"  style="font-size: 15px;">Pesos.</label></label>
    </ion-col>
    <ion-col size="12" *ngIf="this.TipoCAntidadVolumenVal=='L'" >
      <label style="line-height: 5px;font-size: 15px;" ><b>Cantidad Solicitada: </b>{{this.monto}} <label  style="font-size: 15px;">Litros </label></label><br>
      <label style="line-height: 5px;font-size: 15px;" *ngIf="this.monto!=this.detalle['Cantidad']" ><b>Cantidad Real Cargado: </b>${{this.detalle['Cantidad']}}  <label *ngIf="this.monto!=this.detalle['Cantidad']"  style="font-size: 15px;">Litros.</label></label>
     </ion-col>
   
      <ion-col size="6"  >    
      <label style="line-height: 5px;font-size: 15px;"><b>Fecha: </b>{{this.detalle['Fecha']}}</label> 
    </ion-col>
      <ion-col size="6"  >   
      <label style="line-height: 5px;font-size: 15px;"><b>Hora: </b>{{this.detalle['Hora']}}</label>      
    </ion-col>    
      <ion-col size="12"><br>
        <div
        style="
          border: 1px solid #e0e0e0;
          margin: auto;
          width: 100%;
          align-items: center;
        "
        ></div>
      </ion-col >  
      <ion-col size="12" *ngIf="this.RecuperaDespacho==true && productoscanje" style="text-align: center;">
        <h4 style="font-size: 20px;font-weight: bold;">Beneficios disponible por cargar</h4>
        </ion-col>
  </ion-row>

  </ion-grid>
  <ion-grid  *ngIf="productoscanje">
   
   
   <ion-row style="text-align: left;" *ngFor="let Producto of productoscanje; let i = index">
      <ion-col size="9" >{{Producto.benefitGenerated.name}}</ion-col>
      <ion-col size="3" *ngIf="(Producto.benefitGenerated.stock-Producto.benefitGenerated.stockUsed)==0 " >
        <ion-button
        ion-button
        expand="block" color="medium"
        style=" font-size: 90% ;font-weight: bold;text-transform: none;"
        (click)="RedimirBeneficio('0','13','0','0',i)" 
        >Agotado</ion-button>
      </ion-col>

      <ion-col size="3" *ngIf="(Producto.benefitGenerated.stock-Producto.benefitGenerated.stockUsed)>0 "  >
        <ion-button
        ion-button
        expand="block" color="warning"
        style="text-transform: none; font-size: 90% ;font-weight: bold; "
        (click)="RedimirBeneficio(Producto.benefitGenerated.externalProductId,'1',Producto.benefitGenerated.name,Producto.id,i)" 
        >Canjear</ion-button>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer *ngIf="this.RecuperaDespacho==true">
  <ion-toolbar  style="text-align: center;"><br>
  <ion-grid  >
  <ion-row  style="text-align: center;" *ngIf="this.RecuperaDespacho==true && this.ImprimeTicket==false">
    <ion-col>      
        <h4 style="font-size: 20px;font-weight: bold;">Forma de pago</h4>
      <ion-select [(ngModel)]="selectedOption"  class="full-width"  >
        <ion-select-option *ngFor="let FDP of Formasdepago" [value]="FDP.Cod">
          {{ FDP.Desc }}
        </ion-select-option>
      </ion-select>  

    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col  size="12">
      <ion-button *ngIf="this.RecuperaDespacho==true && this.ImprimeTicket==false" ion-button expand="block" (click)="CambioFormadePago()">Finalizar</ion-button> 
      <ion-button *ngIf="this.RecuperaDespacho==true && this.ImprimeTicket==true" ion-button expand="block" (click)="Finaliza()">Finalizar</ion-button> 
    </ion-col>
    <ion-col  size="12">
      <label>
       <u><b> *Podrás generar ticket fisico desde la app de Gasomarshal</b></u>
      </label>
      </ion-col>
      
  </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
