ion-input[disabled]{
 
    opacity:1;

 }
ion-input
{
 
color:rgb(0, 0, 0);
background: #bebebe !important;
font-weight: bold;
font-size: 35px;
word-wrap: break-word;
word-break: break-all;
height: 50px;
overflow: scroll;
text-indent: 10px;

}
label{
  font-size: 15px;
}

ion-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50%; height: 50%; }