<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Regresar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="volverahome()" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <ion-card-content> 
    <LABEL style="color:#4CAF50;font-weight: bold;font-size: 20px;">Canje de puntos verdes</LABEL><br><br>
    <label>Numero Cliente</label>
    <ion-input type="number" [(ngModel)]="Cliente" style="color:#000000;font-weight: bold; font-size: 20px;" placeholder="0" disabled></ion-input> 
    <label>Puntos Actuales</label>
    <ion-input type="number" [(ngModel)]="PuntosActuales" style="color:#4CAF50;font-weight: bold; font-size: 30px;" placeholder="0" disabled></ion-input> 
      <label>Puntos a Redimir</label>
      <ion-input type="number" [(ngModel)]="PuntosRedimir" style="background-color: rgb(241, 241, 241)"  (change)="CambioGramos()" (click)="LimpiaCampo()"  ionBlur="CambioGramos()" (keypress)="CambioGramos()" (keyup)="CambioGramos()"  placeholder="# Puntos a redimir"></ion-input>
      <label>Puntos despues de canje</label>
      <ion-input type="number" [(ngModel)]="PuntosFeria" style="color:#f19f24;font-weight: bold; font-size: 30px;" placeholder="0" disabled></ion-input>
      <label># DE EMPLEADO</label>
      <ion-input type="number" [(ngModel)]="empleado" style="background-color: rgb(241, 241, 241)"  placeholder="# de empleado"></ion-input>
     <div > <label>NIP</label>
      <ion-input  clearOnEdit="false" pattern="[0-9]*"  #passwordEyeRegister  [type]="passwordTypeInput" style="background-color: rgb(241, 241, 241)" inputmode="numeric" [(ngModel)]="Nip"  placeholder="NIP"></ion-input>
      </div> 
      <br>
      <button ion-button block style="height: 50px;font-size: 20px; background-color: #4CAF50;" icon-end (click)="reciclaje()"><ion-icon name="leaf" style="margin-right: 5%;"></ion-icon> CANJEAR PUNTOS VERDES</button>
         
             
    </ion-card-content>
  </ion-card>
</ion-content>
