<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuración de app</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración de app</ion-title>
    </ion-toolbar>
  </ion-header><!--
  <button [routerLink]="['']"> Inicio</button>
-->

<ion-card > 
    
    
  <ion-card-content >
    <B>Instrucciones:</B>
<label>Selecciona la estación a la que deseas asigar el dispositivo y da clic en buscar configuracion.</label><bR><br><br>


         
        <ion-label>ESTACION GASOLINERA </ion-label>
          <ion-item style="  border:3px solid red;">
         

                   <ion-select [(ngModel)]="estacionSeleccionada"  cancel-text="Cancelar"   (ionChange)="guardarEstacion();" placeholder="Selecciona una estacion" >
                    <ng-container *ngFor="let estacion of estaciones; let i = index">
                        <ion-select-option value="{{i}}">{{estacion.NombreComercial}}</ion-select-option>
                    </ng-container>
                    </ion-select>
              </ion-item>
              <br> 
              <label>UUID</label>
          <ion-input type="text" [(ngModel)]="uuid" style="background-color: rgb(209, 209, 209);font-size: 30px;" disabled></ion-input>
          <br>
          <label> MODELO</label>
          <ion-input type="text" [(ngModel)]="modelo" style="background-color: rgb(209, 209, 209)" disabled></ion-input>
          <br>
          <label>PLATAFORMA</label>
          <ion-input type="text" [(ngModel)]="plataforma" style="background-color: rgb(209, 209, 209)"disabled></ion-input>
          <br><br><br>
          <B>Nota:</B><label>Si no encuentra configuracion a la estacion que deseas vincularla contacta soporte SocioSmart</label>

    <ion-button ion-button expand="block"   (click)="ConfigPage()">Buscar y guardar configuración</ion-button>
</ion-card-content>
</ion-card>

</ion-content>

