

<ion-content [fullscreen]="true"  id="fondo"  >
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>--><br><br>
<ion-card style="background-color: rgb(0, 0, 145);" *ngIf="configurado" > <br>
  <img src="../../assets/imagen/logo.png"/> 
  <ion-button ion-button expand="block" icon-end style="height: 70px;font-size: 18px; margin: 20px;"  (click)="Home()">
     <ion-icon name="person-add-outline" slot="start"></ion-icon>
    <div style="display: flex; flex-direction: column; text-align: center; width: 100%;">
    <span style="font-size: 20px;">CLIENTE FRECUENTE</span>
    <span style="font-size: 12px;">(PRE REGISTRO Y CANJE)</span>
  </div>
</ion-button>
   <ion-button expand="block" style="height: 70px; font-size: 20px; margin: 20px;" (click)="Lealtad()">
  <ion-icon name="person-outline" slot="start"></ion-icon>
  <div style="display: flex; flex-direction: column; text-align: center; width: 100%;">
    <span style="font-size: 20px;">Plan de lealtad</span>
    <span style="font-size: 12px;">(CARGAR CON DESCUENTO Y ACUMULAR)</span>
  </div>
</ion-button>

    <ion-button ion-button expand="block" icon-end style="height: 70px;font-size: 20px; margin: 20px;"  (click)="CargarDeCombustible()" *ngIf="this.EstadoPrepago==1">
      <ion-icon name="flame-outline" style="margin-right: 5%;"></ion-icon> Cargar Combustible<br>(prepago)</ion-button>
   <!--   <ion-button ion-button expand="block" icon-end style="height: 70px;font-size: 20px; margin: 20px;"  (click)="Rasca()">
        <ion-icon name="flame-outline" style="margin-right: 5%;"></ion-icon> Rasca y Gana</ion-button>-->
    <ion-button ion-button expand="block" icon-end style="height: 70px;font-size: 20px; margin: 20px;"  (click)="reimpresion()">
      <ion-icon name="refresh-circle-outline" style="margin-right: 5%;"></ion-icon> Reimpresiones</ion-button>
      <ion-button ion-button expand="block" icon-end style="height: 70px;font-size: 18px; margin: 20px;"  (click)="GeneraImpresion()">
      <ion-icon name="print-outline" slot="start"></ion-icon> Imprimir invitaciones</ion-button>
        <ion-card-content>
            <label style="color:white;font-size: 18px;"> <b>Version:0.1.7</b><br></label> 
        <label style="color:white;font-size: 18px;"> <b>CONFIGURADA EN: </b> {{this.estacion}} </label> 
        </ion-card-content>
    
  <button ion-button block style="background-color: rgb(0, 0, 145); color: rgb(0, 0, 145); font-size: 5px;" (click)="ClearOn()">MOSTRARCLEAR</button><br>
  <ion-button ion-button block style="height: 50px;font-size: 20px; margin: 10px;" *ngIf=" this.contadorClear >= 10" (click)="Clear()">Clear</ion-button>

  
</ion-card>


</ion-content>
<ion-footer>
  
  <ion-button ion-button expand="block"  style="height: 50px;font-size: 20px; margin: 10px;"  (click)="Config()"><ion-icon name="construct-outline"  style="margin-right: 5%;"></ion-icon>  Configuracion</ion-button>

</ion-footer>