
ion-input[disabled]{
 
    opacity:1;

 }
ion-input
{
 
color:rgb(0, 0, 0);
background: rgba(120, 139, 148, 0.5) !important;
font-weight: bold;
font-size: 28px;
word-wrap: break-word;
word-break: break-all;
height: 50px;
overflow: scroll;
text-indent: 10px;

}
label{
  font-size: 15px;
}
body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}