<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-toolbar>
    <ion-title>Plan de lealtad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!--
  <button [routerLink]="['']"> Inicio</button>
-->
  <ng-container *ngIf="this.scanea==true" style="text-align: center">
    <ion-grid>
      <ion-row style="padding-top: 0px">
        <ion-col size="12" style="text-align: center">
          <span style="background: rgba(253, 253, 253, 0.5); font-size: 20px"
            >Escanea el código QR de la bomba de tu estación</span
          ><br /><br /><br /><br />
        </ion-col>
        <ion-col size="12" style="text-align: center">
          <img style="width: 90%" src="/assets/iconos/MarcosCamara.svg" />
        </ion-col>
        <ion-col size="12" style="text-align: center"
          ><br /><br /><br />
          <span style="background: rgba(253, 253, 253, 0.5); font-size: 20px"
            >Posiciona el código QR dentro del recuadro a una distancia de 40
            cm.</span
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  
  <ion-card>
    <ion-card-content *ngIf="this.scanea==false">
      <b>Identificación de cliente:</b>
      <label></label>
      <ion-button
        ion-button
        expand="block"
        icon-start
        (click)="scanTarjeta()"
        style="height: 50px; margin-bottom: 10px; font-size: 20px"
        ><ion-icon name="qr-code-outline" style="margin-right: 3%"></ion-icon
        >Escanear QR</ion-button
      >
      <!--<ion-button  ion-button expand="block"   icon-start    (click)="Manual()"   style="height: 50px; margin-bottom: 10px; font-size: 20px"
        ><ion-icon name="create" style="margin-right: 3%"></ion-icon>Manual
        manualmente</ion-button>
      <div *ngIf="this.IngresaManual==true">
        <label
          >Ingresa el número de cliente sociosmart o el código de tarjeta de
          regalo:</label
        >
        <ion-row>
          <ion-col size="10" *ngIf="this.IngresaManual==true"
            ><ion-input
              type="number"
              appBlockCopyPaste
              [(ngModel)]="Codigo"
              style="background-color: rgb(209, 209, 209)"
              placeholder="" (ionChange)="change()"   (ngModelChange)="change()"     (ionBlur)="change()" 
            ></ion-input>
          </ion-col>
          <ion-col size="2"
            ><ion-button (click)="Validamanual()">
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      -->
      <ion-row style="text-align: center" *ngIf="IngresaQR==true;">
        <br />
        <div
          style="
            border: 1px solid #e0e0e0;
            margin: auto;
            width: 100%;
            align-items: center;
          "
        ></div>
        <br />
        <ion-col size="12" style="text-align: left">
          <label> Cliente frecuente:</label>
          <ion-input
            type="text"
            [(ngModel)]="Nombre"
            placeholder="Cargando..."
            disabled
          ></ion-input>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <label>Nivel:</label>
          <ion-input
            type="text"
            [(ngModel)]="Nivel"
            placeholder="..."
            disabled
          ></ion-input>         
        </ion-col>
        <ion-col size="5" style="text-align: left">
          <label>Descuento:</label>
          <ion-input
            type="text"
            [(ngModel)]="balance"
            placeholder="..."
            disabled
          ></ion-input> 
        </ion-col>
          <ion-col size="12" style="text-align: left">
            <div
            style="
              border: 1px solid #e0e0e0;
              margin: auto;
              width: 100%;
              align-items: center;
            "
          ></div>
            </ion-col>
          <br />
         
       
        <ion-col size="12" *ngIf="this.CargaCombustible==false">
          <ion-row style="text-align: left;" *ngFor="let Producto of productoscanje; let i = index">
            <ion-col size="9" *ngIf="Producto.benefitGenerated.isActive==true  ">{{Producto.benefitGenerated.name}}</ion-col>
            <ion-col size="3" *ngIf="(Producto.benefitGenerated.stock-Producto.benefitGenerated.stockUsed)==0">
              <ion-button
              ion-button
              expand="block" color="medium"
              style=" font-size: 90% ;font-weight: bold;text-transform: none;"
              (click)="RedimirBeneficio('0','13','0','0')" 
              >Agotado</ion-button>
            </ion-col>
       
            <ion-col size="3" *ngIf="(Producto.benefitGenerated.stock-Producto.benefitGenerated.stockUsed)>0">
              <ion-button
              ion-button
              expand="block" color="warning"
              style="text-transform: none; font-size: 90% ;font-weight: bold; "
              (click)="RedimirBeneficio(Producto.benefitGenerated.externalProductId,'1',Producto.benefitGenerated,Producto.id)" 
              >Canjear</ion-button>
            </ion-col>

            <ion-col size="3" *ngIf="Producto.benefitGenerated.isActive==false">
              <ion-button
              ion-button
              expand="block"  color="light"
              style=" font-size: 90% ;font-weight: bold;text-transform: none;"
              (click)="RedimirBeneficio('33','4','0','0')" 
              >Canjeado</ion-button>
            </ion-col>
           
            </ion-row>
            
        
        </ion-col>

        <ion-col size="12" *ngIf="this.CargaCombustible==false">
          <ion-button
            ion-button
            expand="block"
            style="height: 70px; font-size: 20px; font-weight: bold"
            (click)="CargarCombustibleBeneficio()" 
            >Cargar<br>Combustible</ion-button
          >
        </ion-col>
        <ion-col size="12" *ngIf="this.CargaCombustible==true && this.cargando==false">
          <ion-button
            ion-button
            expand="block"
            style="height: 70px; font-size: 20px; font-weight: bold"
            (click)="CargarCombustibleBeneficio()" 
            >Ver Beneficios</ion-button
          >
        </ion-col>
</ion-row>
<ion-row *ngIf="this.CargaCombustible==true && this.cargando==false" style="text-align: center" >
        
       
        <ion-col size="12" style="text-align: left">
          <label>Importe/Volumen:</label>
          <ion-input
            type="number"
            [(ngModel)]="toCharge"
            placeholder="Ingresa"
            [disabled]="BloqueaInput"
          
          ></ion-input>
          <br />
          <div
            style="
              border: 1px solid #e0e0e0;
              margin: auto;
              width: 100%;
              align-items: center;
            "
          ></div>
          <br />
        </ion-col>
        <ion-col size="4">
          <ion-button
            ion-button
            expand="block"
            style="height: 70px; font-size: 20px; font-weight: bold;text-transform: none; border-style: solid;
  border-color:#1d0caf;opacity:0.5;border-radius:20%"
            (click)="TipoCantidadVolumen('P')" id="Pesos"
            >Pesos</ion-button
          >
        </ion-col> 
        <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold;text-transform: none;"
                (click)="TipoCantidadVolumen('L')" id="Litros"
                >Litros</ion-button
              >
            </ion-col>
            <ion-col size="4">
          <ion-button
            ion-button
            expand="block"
            style="height: 70px; font-size: 20px; font-weight: bold;text-transform: none;"
            (click)="TipoCantidadVolumen('LL')" id="Lleno"
            >Tanque<br> Lleno</ion-button
          >
        </ion-col>

        <ion-col size="12" style="text-align: left">
          Ingresa posición de carga
          <ion-row>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold;"
                (click)="bombaN(1)" id="P1"
                >1</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(2)" id="P2"
                >2</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(3)" id="P3"
                >3</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(4)" id="P4"
                >4</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(5)" id="P5"
                >5</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(6)" id="P6"
                >6</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(7)" id="P7"
                >7</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(8)" id="P8"
                >8</ion-button
              >
            </ion-col>
            <ion-col size="4">
              <ion-button
                ion-button
                expand="block"
                style="height: 70px; font-size: 20px; font-weight: bold"
                (click)="bombaN(9)" id="P9"
                >9</ion-button
              >
            </ion-col>
            <ion-col size="12" style="text-align: center">
              <div
                style="
                  border: 0.3px solid #e0e0e0;
                  margin: auto;
                  width: 100%;
                  align-items: center;
                "
              ></div>
              <ion-input
                type="number"
                style="
                  background: #3880ff !important;
                  color: #ffffff;
                  border-radius: 10px;
                "
                [(ngModel)]="Bomba" (click)="bombaN('N')"
                placeholder="Otra posición" id="P10"
              ></ion-input>
            </ion-col>
          </ion-row>
          <br />
        </ion-col>
        <ion-col size="12" style="text-align: left">Elige combustible</ion-col>
        <ion-col size=".5"></ion-col>
        <ion-col
          size="3.5"
          style="border: solid 2px #797979; border-radius: 25px"
          (click)="Combustible('Regular','0')"
          id="Regular"
        >
          <img src="assets/iconos/GotaRegular.svg" />
          <h6 style="font-weight: 900; font-size: 16px; color: #333333">
            Regular
          </h6>
        </ion-col>
        <ion-col size=".5"></ion-col>
        <ion-col
          size="3.5"
          style="border: solid 2px #797979; border-radius: 25px"
          (click)="Combustible('Premier','1')"
          id="Premier"
        >
          <img src="assets/iconos/GotaPremier.svg" />
          <h6 style="font-weight: 900; font-size: 16px; color: #333333">
            Premier
          </h6>
        </ion-col>
        
         
        <ion-col size="12">
          <br />
          <ion-button
            ion-button
            expand="block"
            (click)="CargarCombustible()"
            style="height: 70px; font-size: 30px; font-weight: bold"
            *ngIf="this.cargando==false"
            >Cargar<br> Combustible</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="12" style="text-align: center" *ngIf="this.cargando==true">
      Un momento<br/><ion-spinner name="dots" class="spinner"></ion-spinner>
      <br/>  <br/>  <br/>
      <B><u>RECUERDA MANTENER SIEMPRE LAS PISTOLAS COLGADAS DURANTE LA SOLICITUD DEL PRESET.</u></B>
      
    </ion-col>
  </ion-row>
</ion-content>
