<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reimpresion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col center text-center class="titulo" size="12">
            <label>Da clic en el cupón a reimprimir, posterior dar clic en el boton volver a imprimir </label>
          </ion-col>
        </ion-row>
      </ion-grid>
     <ion-list lines="inset"> 
    <ion-item *ngFor="let user of vales; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <ion-grid style="margin-top: 0px;
        margin-bottom: 0px;padding: 0px" >
            <ion-row size="12" style="margin-top: 0px;
            margin-bottom: 0px; padding: 0px" >
              <ion-col size="6" class="titulo">
                  <ion-icon name="radio-button-on" style="color:#fdd900;font-size:10px;"></ion-icon>    Nombre:
              </ion-col>
              <ion-col size="6" class="titulo">
                <ion-icon name="radio-button-on" style="color:#fdd900;font-size:10px;"></ion-icon>    Folio:
              </ion-col>
              
            </ion-row>
            <ion-row size="12">
              <ion-col size="6" class="descripcion">{{user.Nombre}} {{user.Ap_Paterno}}  {{user.Ap_Materno}}</ion-col>
              <ion-col size="6" class="descripcion">{{user.FolioRedencion}}</ion-col>  
            </ion-row>
          
     
      <div *ngIf="isGroupShown(i)">
              <ion-row size="12">
                  <ion-col size="6" class="titulo">
                      <ion-icon name="radio-button-on" style="color:#fdd900;font-size:10px;"></ion-icon>     Producto:
                  </ion-col>
                
                </ion-row>
                <ion-row size="12">
                  <ion-col size="12" class="descripcion">
                    {{user.NombreProducto}}
                </ion-col>  
                  
                                   
                  </ion-row>
    
                  <ion-row size="12">
              
                    <ion-col size="6" class="titulo">
                        <ion-icon name="radio-button-on" style="color:#fdd900;font-size:10px;"></ion-icon >Acciones:
                    </ion-col> 
                                  
                  </ion-row>
                  <ion-row size="12">
                      
                      <ion-col size="6" class="descripcion">
                        <ion-button  color="success" (click)="Reimpresion(user)">Volver a Imprimir</ion-button>
                      </ion-col>    
                                     
                    </ion-row>
                  
                  </div>
        </ion-grid>
        <ion-icon style="color:#0097cd;" item-right [name]="isGroupShown(i) ? 'caret-down-outline' : 'caret-forward-outline' "></ion-icon>
    </ion-item>

    </ion-list>
    </ion-toolbar>
</ion-content>
