<ion-content >
  <div id="scratchCanvasContainer" >
    <canvas id="scratchCanvas"></canvas>
    <canvas id="premioCanvas"></canvas>
  </div>

  <ion-content class="ion-padding">
    <ion-input placeholder="Correo electrónico" [(ngModel)]="email"></ion-input>
    
    <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
    <h4>{{this.nombre}}</h4>
    <h4>{{this.nivel}}</h4>
  </ion-content>

  <div id="premio"></div> <!-- El div que mostrará el premio al final -->
  
  <ion-button *ngIf="intentos < maxIntentos" (click)="reiniciar()">Reintentar</ion-button>
<ion-button *ngIf="intentos === maxIntentos" (click)="nuevoJuego()">Nuevo Juego</ion-button>

</ion-content>