#scratchCanvasContainer {
    position: relative;
    width: 100%;
    height: 300px; /* Ajusta el tamaño según sea necesario */
  }
  
  #scratchCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* El área de rascado debe estar encima */
    cursor: pointer;
  }
  
  #premioCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* El área del premio debe estar debajo */
  }
  
  #premio {
    position: absolute;
    bottom: 10px; /* Ajusta el premio en la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
  }