<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>
      Blanks
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content padding style="background-color: rgb(0, 0, 145)">
  <LABEL style="color:white;font-weight: bold;font-size: 100%;">Métodos para identificar a cliente frecuente:</LABEL>
   <ion-button ion-button expand="block" icon-start *ngIf="this.AcumulacionNormal==1"  (click)="scan()"  style="height: 50px;margin-bottom: 10px;font-size: 20px;" ><ion-icon name="qr-code-outline"style="margin-right: 3%"></ion-icon> ESCANEAR QR </ion-button> 
   
  <ion-button  ion-button expand="block"  icon-start *ngIf="this.AcumulacionManual==1" (click)="MANUAL()" style="height: 50px;margin-bottom: 10px;font-size: 20px;"><ion-icon name="create" style="margin-right: 3%"></ion-icon>  INGRESAR MANUAL</ion-button>
  
  
  
  <ion-card *ngIf="ocultar1"> 
    <ion-card-content >
      <img src="../../assets/imagen/screen.jpg"/>     
     
<br>   

      <label>INGRESA EL NÚMERO DE CLIENTE:</label>
      <ion-input type="number" appBlockCopyPaste pattern="[0-9]*" [(ngModel)]="Numero"  (ionBlur)="Verificarigualdad()" data-number-mask="telephone"  style="background-color: rgb(209, 209, 209)" placeholder="# SOCIOSMART" ></ion-input>
 <BR>         
      <ion-input type="number" appBlockCopyPaste  [(ngModel)]="Numero2" (ionBlur)="Verificarigualdad()" data-number-mask="telephone"   style="background-color: rgb(209, 209, 209)" placeholder="REPITE # SOCIOSMART"></ion-input>
        <ion-button   ion-button expand="block"  icon-start  style="height: 50px;margin-bottom: 10px;font-size: 20px;"   (click)="verificar()" ><ion-icon name="search-outline" style="margin-right: 3%"></ion-icon> Buscar Cliente</ion-button>
     <label style="align-items: center;"> <b>Si el cliente no existe se procederá a registrar</b></label>  
      </ion-card-content>
    <ion-card-content *ngIf="PRE==true">
        <label>INGRESA EL TELÉFONO CELULAR DEL CLIENTE A REGISTRAR</label>
        <ion-input type="number" [(ngModel)]="Numero"  (ionBlur)="Verificarigualdad()" style="background-color: rgb(209, 209, 209)" placeholder="# TELÉFONO CELULAR"></ion-input>
    <BR>
        <ion-input type="number" [(ngModel)]="Numero2" (ionBlur)="Verificarigualdad()"  style="background-color: rgb(209, 209, 209)" placeholder="REPITE # TELÉFONO"></ion-input>
        <label >Si el cliente ya se pre registro anteriormente, podrá ver los movimientos una vez terminado su registro</label>  
        <ion-button  ion-button expand="block"   (click)="verificar()" >CONTINUAR</ion-button>
      </ion-card-content>   
           
 </ion-card>

 <ion-card *ngIf="ocultar2">
  <ion-card-content >
    <label> CLIENTE</label>
    <ion-input type="text" [(ngModel)]="Nombre"  placeholder="Cargando..." disabled  ></ion-input>
    <label>PUNTOS ACTUALES</label>
    <ion-input type="text" [(ngModel)]="SaldoPuntosActual"  placeholder="Cargando..."  disabled></ion-input>
    <label>PUNTOS EN ESTACION <br><h4 style="font-weight: bold;">*Solo para promociones internas en estacion</h4></label>
    <ion-input type="text" [(ngModel)]="puntosestacion"  placeholder="Cargando..."  disabled></ion-input>
    <label *ngIf="this.PuntosVerdesHabilitado>0" >PUNTOS VERDES</label>
    <ion-input type="text" [(ngModel)]="PuntosVerdes" style="color:#4CAF50;" placeholder="Cargando"  disabled *ngIf="this.PuntosVerdesHabilitado>0"></ion-input>
   <div *ngIf="this.PuntosVerdesHabilitado>0">
    <br> 
     <button ion-button block style="height: 50px;font-size: 20px; background-color: #4CAF50;" icon-end (click)="reciclaje()"><ion-icon name="leaf" style="margin-right: 5%;"></ion-icon> CANJEAR PUNTOS VERDES</button>
     <br>
    <br>
    </div>
     
     <label>ESTATUS</label>
    <ion-input type="text" [(ngModel)]="Mensaje" style="background-color: rgb(209, 209, 209)" placeholder="Cargando..."  disabled></ion-input>
 
   <div *ngIf="PuntosdeVentaCanje==1">
    <div *ngIf="EstatusChofer!=0">
    <div *ngIf="EstatusChofer!=''">
      <br *ngIf="this.SaldoPuntosActual>=20"><br *ngIf="this.SaldoPuntosActual>20">
        <label *ngIf="this.SaldoPuntosActual>=20"> CANJE DE PUNTOS</label><br>
    <ion-button size="large" *ngIf="this.SaldoPuntosActual>=20" ion-button block (click)="Canje(20,2184)" [disabled]="!isenabled2" >20 Puntos</ion-button><br>
    <ion-button size="large" *ngIf="this.SaldoPuntosActual>=50" ion-button block (click)="Canje(50,2185)" [disabled]="!isenabled2" >50 Puntos</ion-button><br>
    <ion-button size="large" *ngIf="this.SaldoPuntosActual>=100" ion-button block (click)="Canje(100,2186)" [disabled]="!isenabled2" >100 Puntos</ion-button>
    <br><br>
  
    <div *ngIf="this.solotaxistasorteo==1">
      <label *ngIf="this.sorteolocal>0" style="font-weight: bold;">SORTEO LOCAL EXCLUSIVO(Solo puede usar puntos acumulados en estación).</label><br>
      <ion-button size="large" *ngIf="this.sorteolocal>0" ion-button block (click)="CanjearSorteoLocal()" style="background-color: #4CAF50;" [disabled]="!isenabled2" >GENERAR BOLETO</ion-button>
    </div>
    
  </div>
  </div>
</div> 


<div *ngIf="soloacumulacion==false"></div>
<div *ngIf="this.botonCanje">
  <br><br>
  
  <div *ngIf="this.solotaxistasorteo==0">
  <label *ngIf="this.sorteolocal>0" style="font-weight: bold;">SORTEO LOCAL PUBLICO (Solo puede usar puntos acumulados en estación).</label><br>
  <ion-button size="large" *ngIf="this.sorteolocal>0" ion-button block (click)="CanjearSorteoLocal()" style="background-color: #4CAF50;" [disabled]="!isenabled2" >GENERAR BOLETO</ion-button>
</div> 
  <br>
  <label *ngIf="this.tucargavale>0" style="font-weight: bold;">TU TICKET VALE</label><br>
  <ion-button size="large" *ngIf="this.tucargavale>0" ion-button block (click)="cargavale()" style="background-color: #4CAF50;" [disabled]="!isenabled2" >PARTICIPAR</ion-button> 


  <br *ngIf="this.SaldoPuntosActual>=10"><br *ngIf="this.SaldoPuntosActual>=10">
<div *ngIf="this.MostrarCanjes==1">
  <ion-button ion-button expand="block"     (click)="CUPONES()" style="height: 70px;font-size: 20px;">CUPONES </ion-button>
</div>
  <div *ngIf="this.Cargandoselect">
    <ion-item>
  <ion-select   class="select-full-width" [(ngModel)]="gaming" (ionChange)="onChangelista();" *ngIf="ocultarselectcupon"  id="inputs"  placeholder="Selecciona" style="background-color: #ffffff;font-size: 20px !important;">
  <ion-select-option  value={{user.Cve_ProductoRedimir}} *ngFor="let user of cuponeslist; let i=index">{{user.NombreProducto}}</ion-select-option>
  </ion-select></ion-item>


  <div *ngIf="this.valorselect">
    <br>
    <!-- <label><b>PRODUCTO</b></label> : {{this.valorselect}}<br> -->
    <label><b>PUNTOS</b></label> :{{this.costopuntos}}<br>
    <label><b>EFECTIVO</b></label>:{{this.costodinero}}<br>
    <ion-button ion-button block size="large" style="background-color: #4CAF50;"  (click)="Canjearcupon()">CANJEAR</ion-button>
    
  </div>
  <br><br><br>
</div>

<BR>
  <div *ngIf="this.MostrarSorteos==1">  
    <ion-button  ion-button expand="block"   (click)="SORTEOS()" style="height: 70px;font-size: 20px;">SORTEOS</ion-button> 
  </div>
   <div *ngIf="this.CargandoselectSORTEO">
    <ion-item>
    <ion-select  class="select-full-width" [(ngModel)]="gaming1" (ionChange)="onChangelistasorteo();" *ngIf="ocultarselectsorteo"  id="inputs"  placeholder="Selecciona" style="background-color: #ffffff;font-size: 20px !important;">
    <ion-select-option  value={{user.Cve_Sorteo}} *ngFor="let user of sorteolist; let i=index">{{user.Nombre}}</ion-select-option>
    </ion-select>
   </ion-item>

   <div *ngIf="this.valorselect1">
      <br>
      <!-- <label><b>SORTEO</b></label> : {{this.valorselect1}}<br> -->
      <label><b>PUNTOS</b></label> :{{this.costopuntos1}}<br>
   
      <ion-button ion-button block size="large" style="background-color: #4CAF50; /* Green */"  (click)="CanjearBoletoSorteo()">CANJEAR</ion-button>
   
    </div>
    <br><br><br>
  <br><br>

</div> 
</div>

<BR>
<!--<ion-button ion-button expand="block"(click)="EnviarAAcumular()" [disabled]="!isenabled2" style="height: 70px;font-size: 20px;" >ACUMULAR</ion-button>-->

    </ion-card-content> 
</ion-card>


<ion-card *ngIf="ocultar3">
  <ion-card-content >
    <label style="font-weight: bold">CAMPAÑAS Y PROMOCIONES</label>
    <h4>Selecciona 1 si el cliente cuenta con el perfil de la campaña vigente</h4>    
    <ion-item>
    <ion-select style="max-width: 100%;" id="campanias"  (ionChange)='onChangelistaCampania()' placeholder=" Selecciona"  [(ngModel)]="Campana1"  >
      <!-- <ion-select-option selected value={{this.cero}}>NO APLICA PROMOCIÓN</ion-select-option>    -->
      <ion-select-option *ngFor="let Campania of campanias;" value="{{Campania.Cve}}">{{Campania.Nombre}} x {{Campania.Puntos}}</ion-select-option>
    </ion-select>
  </ion-item>     
    </ion-card-content>      
</ion-card>
 <ion-card *ngIf="ocultar3">
    <ion-card-content> 
      <label># BOMBA</label>
      <ion-input type="number" [(ngModel)]="NoBomba" style="background-color: rgb(209, 209, 209)" data-number-mask="telephone"  placeholder="Captura # de bomba" ></ion-input>
      <label># DE EMPLEADO</label>
      <ion-input type="number" [(ngModel)]="empleado" style="background-color: rgb(209, 209, 209)" data-number-mask="telephone"  placeholder="Ingresa Tu número de empleado"></ion-input>
     <div > <label>NIP</label>
      <ion-input  clearOnEdit="false" pattern="[0-9]*"  #passwordEyeRegister  type="password" inputmode="numeric" [(ngModel)]="Nip" style="background-color: rgb(209, 209, 209)" data-number-mask="telephone" placeholder="Ingresa Tu NIP"></ion-input>
      </div> 
      <ion-button ion-button expand="block" *ngIf="this.botonacumulacion==true" (click)="cerrarlastrespv()">ENVIAR ACUMULACIÓN</ion-button>          
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="ocultar4">
    <ion-card-content>
      <ion-grid >
        <ion-row >
          <ion-col style="text-align:center">
      <h4>
        <img src="../../assets/imagen/checkAutopago.svg"/>     <br>
      <b> {{this.Estatus}}</b>
      </h4>
      </ion-col>
      </ion-row>
      </ion-grid>
     
   <ion-button ion-button expand="block"(click)="reset()">Regresar al inicio</ion-button>
    </ion-card-content>
 </ion-card>
 <ion-card *ngIf="cargando">
  <ion-card-content> 
    <ion-grid >
      <ion-row >
        <ion-col style="text-align:center">
    <ion-spinner name="dots" color="secondary"style="width: 100px;height:100px"></ion-spinner>
    </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer  >
  <ion-toolbar>
      <ion-grid >
          <ion-row >
            <ion-col style="text-align:center">
              <div>
                  <ion-button ion-button expand="block" icon-start (click)="reset()">  <ion-icon name="refresh"></ion-icon> RESET</ion-button>   
              </div>
            </ion-col>
            <ion-col style="text-align:center">
              <div>
                  <label *ngIf="TipoBds">Conectado a BD SocioSmart</label>
                  <label *ngIf="!TipoBds">Conectado a BD Local</label>
              </div>
            </ion-col>
            <ion-col >
              <div style="text-align:center">
                  <label>Version: <br>{{this.Version}}</label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-toolbar>   
</ion-footer>