<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 🔽 BOTÓN PRINCIPAL -->
  <div style="padding: 15px;">
    <ion-button expand="block" color="primary" (click)="nuevoInventario()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Nuevo Inventario
    </ion-button>
  </div>

  <!-- 📦 LISTA -->
  <ion-list>

    <ion-item *ngFor="let inv of inventarios" (click)="irDetalle(inv)"> 

      <ion-label>

        <!-- HEADER -->
        <div class="header-card">
          <h2>{{ inv.nombre }}</h2>
          <span class="badge-id">#{{ inv.id }}</span>
        </div>

        <!-- UBICACIÓN -->
        <div class="info-item">
          <ion-icon name="location-outline"></ion-icon>
          <span>{{ inv.ubicacion }}</span>
        </div>

        <!-- FECHA -->
        <div class="info-item">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>{{ inv.fecha }}</span>
        </div>

        <!-- BOTÓN DINÁMICO -->
        <ion-button
          size="small"
          expand="block"
          [color]="inv.estatus === 'completado' ? 'success' : 'warning'"
          (click)="accionInventario(inv)"
        >
          <ion-icon
            [name]="inv.estatus === 'completado' ? 'download-outline' : 'play-outline'"
            slot="start">
          </ion-icon>

          {{ inv.estatus === 'completado' ? 'Descargar' : 'Continuar' }}
        </ion-button>

      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>