.input-invalid {
  border: 2px solid red !important;
  background-color: #ffe5e5;
}

.input-invalid {
  border: 2px solid red !important;
  background-color: #ffe5e5;
}
.input-invalid {
  border: 2px solid red !important;
  background-color: #ffe5e5;
}
/*.custom-input2 input {
-webkit-text-security: disc;
}*/
:host ::ng-deep ion-input.custom-input2 input {
  -webkit-text-security: disc;
  text-security: disc;
}
::ng-deep ion-input.custom-input2 input {
  -webkit-text-security: disc;
  text-security: disc;
}